In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
tr_df = pd.read_csv("../input/vehicle-loan-defaulter-tfug-delhi-challenge-1-2022/train.csv")
tr_df.head()

,unique_id,loan_amount,loan_manager_id,asset_cost,loan_to_asset_value_ratio,asset_manufacturer_id,applicant_age,area_code,employment_type,mobile_no_available,...,avg_account_age,credit_history_length,no_of_inquiries_in_last_month,no_of_loan_accounts,active_loan_accounts,overdue_accounts,existing_loan_balance,total_disbursed_amount,current_installment,loan_defaulted
0,0,63849,864,68552,72.982096,45,39,778,Self employed,True,...,0.003406,0.012300,0,0,0,0,3494,715120,856,False
1,1,41184,1192,67662,85.834732,45,45,4,Salaried,True,...,0.004420,0.015735,0,3,1,0,4784,7147,902,True
2,2,68313,2113,67793,75.759736,86,44,18,Self employed,True,...,0.011542,0.028924,0,0,1,0,8764,11188,1219,False
3,3,61636,1139,68504,73.364297,45,27,2448,Self employed,True,...,0.011758,0.550731,0,28,0,0,81808,5932,1159,False
4,4,51532,2455,65369,43.920441,86,27,6276,Self employed,True,...,0.415353,3.359229,1,0,3,1,322731,3033357,8196,False

In [3]:
tr_df.isnull().sum()

unique_id                             0
loan_amount                           0
loan_manager_id                       0
asset_cost                            0
loan_to_asset_value_ratio             0
asset_manufacturer_id                 0
applicant_age                         0
area_code                             0
employment_type                       0
mobile_no_available                   0
aadhaar_available                     0
pan_available                         0
voter_id_available                    0
driving_licence_available             0
passport_available                    0
credit_score                          0
new_loan_accounts_in_last_6_months    0
overdue_accounts_in_last_6_months     0
avg_account_age                       0
credit_history_length                 0
no_of_inquiries_in_last_month         0
no_of_loan_accounts                   0
active_loan_accounts                  0
overdue_accounts                      0
existing_loan_balance                 0
total_disbursed_amount                0
current_installment                   0
loan_defaulted                        0
dtype: int64

In [4]:
for column in tr_df.columns:
    if tr_df[column].dtype == "object":
        print(f"{column}, {tr_df[column].nunique()}, {set(tr_df[column])}")

employment_type, 2, {'Salaried', 'Self employed'}

In [5]:
tr_df["loan_defaulted"].value_counts()

False    31854
True      6692
Name: loan_defaulted, dtype: int64